# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cs text diff=csharp
*.axaml text
*.xaml text
*.xml text
*.json text
*.md text
*.slnx text
*.csproj text

# Windows scripts & installer
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.iss text eol=crlf
*.reg text eol=crlf

# Shell scripts
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.exe binary
*.dll binary
*.zip binary
